@using Microsoft.AspNet.Identity
@model Snippy.App.Models.ViewModels.SnippetViewModel
@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Snippet details</h2>
<div class="row">
    <div class="col-sm-10 col-md-offset-1">
        <h2>
            @Html.ActionLink(Model.ProgrammingLanguage.Name, "Details", "Languages", new { id = Model.ProgrammingLanguage.Id }, new { @class = "btn btn-success" })
            @Model.Title
            @if (Model.AuthorId == User.Identity.GetUserId())
            {
                @Html.ActionLink("Edit", "Edit", "Snippets", new { id = Model.Id }, new { @class = "btn btn-warning" })
            }
        </h2>
        <p>
            by :<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <strong>@Model.AuthorUsername </strong> on @Model.CreatedAt.ToShortDateString()
        </p>
        <p>
            Labels:
            @foreach (var label in Model.Labels)
            {
                <span> @Html.ActionLink(label.Text, "Details", "Labels", new { id = label.Id }, new { @class = "label label-primary" })</span>
            }
        </p>
        <p>@Model.Description</p>
        <div class="well">
            <pre><code>@Model.Code</code></pre>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="badge">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    <span id="snippetCommentsCount">@Model.Comments.Count()</span> comments
                </span>
            </div>
        </div>
        <h3>Comments: </h3>
        @if (User.Identity.IsAuthenticated)
        {
            using (Ajax.BeginForm("Create", "Comments", new { }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "commentsContainer",
                InsertionMode = InsertionMode.InsertAfter,
                OnSuccess = "hideLabels"
            }, null))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("SnippetId", Model.Id)
                @Html.TextArea("Content", "", new { @class = "form-control", placeholder = "Write a public comment..." })
                <input type="submit" value="Add comment" class="btn btn-primary" />
            }
        }
        <hr />
        <div id="commentsContainer">
            @if (Model.Comments.Any())
            {

                @Html.DisplayFor(x => x.Comments, "CommentForSnipperViewModel")

            }
            else
            {
                <p class="no-comments-label">There are no comments right now.</p>
            }
        </div>
    </div>
</div>
<script>
    function hideLabels() {
        var snippetComments = $("#snippetCommentsCount");
        var val = snippetComments.text();
        snippetComments.text(parseInt(val) + 1);
        $(".no-comments-label").hide();
        $("#Content").val("");
    }
</script>